<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <div>Nat Business</div>
        <a href="index.html"><button id="login">Cadastrar funcionário</button></a>
    </header>
    <main>
        <form action="/adms" method="post">
            <h1>Logar como administrador</h1>
            <section>
                <div>
                    <label for="user">Digite o usuário:</label>
                    <input type="text" name="name" id="user" required>
                </div>
                <div>
                    <label for="password">Digite a senha:</label>
                    <input type="text" name="password" id="password" required>
                </div>
            </section>
            <button id="logar">Login</button>
        </form>
    </main>
    <footer></footer>
    <script src="/public/js/scriptAdm.js" defer></script>
</body>
</html>